.clear {
    width: 225px;
    font-weight: 100;
    border: solid 1px grey;
    height: 70px;
    font-size: 40px;
}

.action {
    width: 75px;
    border: solid 1px grey;
    background: maroon;
    height: 70px;
    font-size: 40px;
    color: white;
}
.number {
    width: 75px;
    border: solid 1px grey;
    height: 70px;
    font-size: 40px;
}
.zero {
    width: 225px;
    border: solid 1px grey;
    height: 70px;
    font-size: 40px;
}